<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        bootstrap="bootstrap.php"
        colors="true"
        forceCoversAnnotation="true"
        beStrictAboutOutputDuringTests="true"
>
  <coverage>
    <include>
      <directory>../../src</directory>
    </include>
  </coverage>
  <testsuite name="Lizards and Pumpkins Filesystem KeyValueStore Library Unit Tests">
    <directory>Suites</directory>
  </testsuite>
</phpunit>
